body {
  font: normal 16px sans-serif;
}

#ledbar, #button-box {
  display: flex;
  flex-direction: row;
  width: auto;
}

#button-box {
  margin-left: 1.5em;
  flex-wrap: wrap;
  width: 300px;
}

#button-box button {
flex: 1 0 21%;
margin: 5px;
height: 50px;
background-color: black;
border: 1px solid grey;
color: white;
font-weight: bolder;
font-size: 30px;
}


#ledbar {
  background-color: black; /* #5f0000; */
}

#ledbar svg {
  width: 50px;
  height: 70px;
}

#ledbar div {
  width: 50px;
  height: 70px;
}

#ledbar-4 {
  margin-left: 3em;
}

#kim {
  border: 1px solid green;
  background-color: rgb(11, 56, 11);
  display: inline-block;
}
